<% content_for :title, "Songs for #{@band.name}" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Songs for <%= @band.name %></h1>
    <%= link_to "New song", new_band_song_path(@band), class: "rounded-md px-3.5 py-2.5 bg-blue-600 text-white font-medium hover:bg-blue-500" %>
  </div>

  <div id="songs" class="min-w-full">
    <% @songs.each do |song| %>
      <%= render song %>
    <% end %>
  </div>

  <%= link_to "Back to band", @band, class: "w-full sm:w-auto text-center mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
